---
import Button from "../components/ui/Button";
import Layout from "../layouts/Layout.astro";
import BackHome from "../components/ui/BackHome.astro";
---

<Layout title="About me" >
  <main class="py-8 h-screen">
    <BackHome symbol="&#129124;" />
    <div class="container mx-auto p-4">
      <h1 class="text-5xl font-semibold mb-4">Introducing myself</h1>
      <p class="text-black text-2xl leading-loose">
        Im a 19 years old Student just having fun with Software. Since i was a
        little kid, i knew that i wanted to be a Software Engineer but in that
        time i used to call it a "Hacker", My background is funny because i
        started creating Minecraft Servers and i learned a lot of things about
        Networking, Files Managment etc. I enjoy to learn new things and i like to
        share my knowledge with other people as well as share experiences and point of views about different topics.
      </p>
    </div>
    <div class="container mx-auto p-4">
      <h1 class="text-5xl font-semibold mb-4">My Experience</h1>
      <p class="text-black text-2xl leading-loose">
        I have worked as a freelancer in projects of Saas for restaurants in my city, i've been gainign experience in the field of web development and i'm currently working on my personal development exlporing for new opportunities. 
      </p>
    </div>
    <BackHome symbol="&#129127;" />
</main>
</Layout>
