---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Footer from '../components/Footer.astro';
---

<Layout title="Kevin's Portfolio">
	<main class="flex flex-col">
		<Hero />
	</main>
</Layout>

