---
const {symbol, text} = Astro.props;
---

<div class="container mx-auto p-2">
  <a class="font-bold hover:text-white hover:drop-shadow-lg bg-sky-600 text-white rounded-md cursor-pointer flex justify-center items-center w-24 h-8 lg:w-36 lg:h-8" href="./">{symbol}  {text}</a>
</div>