---
const { name, url, img } = Astro.props;
---

<a class="flex flex-col gap-4 mb-8 rounded-md bg-white cursor-pointer transform hover:scale-110 transition-transform" href={url}>
  <img
    src={img}
    alt={name}
    class="object-cover rounded-t-md"
  />
    <p class="text-3xl text-sky-600 font-bold flex flex-col justify-center items-center p-2">{name}</p>
</a>
