---
const { name, url, img } = Astro.props;
---

<a class="flex flex-col gap-4 mb-8 rounded-md bg-gray-200 cursor-pointer transform hover:scale-110 transition-transform" href={url}>
  <img
    src={img}
    alt={name}
    class="w-full h-full object-cover rounded-md"
  />
  <p class="text-2xl flex justify-center items-center">{name}</p>
  <p class="flex justify-center items-center">lorem ipsum </p>
</a>
